{% extends '../layout.html' %}


{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            {{ title }}
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">计划管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">{{ title }}</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i> 计划信息
                        </div>
                        <div class="tools">
                            <a href="" class="collapse">
                            </a>
                            <a href="" class="reload">
                            </a>
                            <a href="" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" role="form" id="form_planning" action="/planning/create" method="post">
                            <div class="form-body">
                                {% if errorMsg != '' %}
                                <div class="alert alert-danger">
                                    <button class="close" data-close="alert"></button>
                                    {{ errorMsg }}
                                </div>
                                {% endif %}
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    输入有误请检查.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    输入验证成功!
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">日期选择 <span class="required">* </span></label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="planningDate" name="planningDate" data-required="1"  />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">班次</label>
                                    <div class="col-md-6">
                                        <div class="radio-list">
                                            <label class="radio-inline">
                                                <input type="radio" name="batch" id="optionsBatch1" value="1" checked> 上午 </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="batch" id="optionsBatch2" value="2"> 下午 </label>
                                        </div>
                                    </div>
                                </div>

                                {% for item in dinings %}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{ item.name }} 计划</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" name="planningCount{{ item.id }}" />
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="form-group">
                                    <label class="col-md-3 control-label">备注</label>
                                    <div class="col-md-6">
                                        <textarea class="form-control" rows="3" id="remark" name="remark"></textarea>
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">保存</button>
                                        <button type="button" class="btn default">取消</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        telamon.leftNavActive($('#planning-create'));

        $('#planningDate').datepicker({
            format: "yyyy-mm-dd",
            weekStart: 7,
            language: "zh-CN",
            autoclose: true,
            todayHighlight: true
        });

        telamon.planningValidate();
    });
</script>
{% endblock %}