{% extends '../layout.html' %}


{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            {{ title }}
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">计划管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">{{ title }}</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box green">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i> 计划信息
                        </div>
                        <div class="tools">
                            <a href="" class="collapse">
                            </a>
                            <a href="" class="reload">
                            </a>
                            <a href="" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <table class="table table-bordered table-hover" id="planning-table">
                            <tbody>
                            <tr>
                                <td>编号</td>
                                <td>{{ data.id }}</td>
                            </tr>
                            <tr>
                                <td>生产日期</td>
                                <td>{{ momentDate(data.productionDate) }}</td>
                            </tr>
                            <tr>
                                <td>批次</td>
                                <td>
                                    {% if data.productionBatch == 1 %}
                                    <span class="label label-sm bg-green-jungle"> 上午 </span>
                                    {% else %}
                                    <span class="label label-sm bg-blue-hoki"> 下午 </span>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>计划总量</td>
                                <td>{{ data.quantity }} 箱</td>
                            </tr>
                            <tr>
                                <td>录入时间</td>
                                <td>{{ moment(data.updateDate) }}</td>
                            </tr>
                            <tr>
                                <td>备注</td>
                                <td>{{ data.remark }}</td>
                            </tr>
                            </tbody>
                        </table>

                        <hr />
                        <p>
                            <a href="/planning/" class="btn btn-primary" role="button"><i class="fa fa-list"></i>&nbsp;回到列表</a>
                            <a href="/planning/edit/{{ data.id }}" class="btn btn-warning" role="button"><i class="fa fa-edit"></i>&nbsp;编辑</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        telamon.leftNavActive($('#planning-index'));

        telamon.loadPlanningDetails('<%= data.id %>', $('#planning-table tbody'))
    });
</script>
{% endblock %}