{% extends '../layout.html' %}

{% block body %}
<div class="page-content-wrapper">
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <h3 class="page-title">
            {{ title }}
        </h3>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <i class="fa fa-home"></i>
                    <a href="/">主页</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">计划管理</a>
                    <i class="fa fa-angle-right"></i>
                </li>
                <li>
                    <a href="#">{{ title }}</a>
                </li>
            </ul>
        </div>
        <!-- END PAGE HEADER-->
        <!-- BEGIN PAGE CONTENT-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet box blue">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-gift"></i> 计划信息
                        </div>
                        <div class="tools">
                            <a href="" class="collapse">
                            </a>
                            <a href="" class="reload">
                            </a>
                            <a href="" class="remove">
                            </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form class="form-horizontal" role="form" id="form_planning" action="/planning/create" method="post">
                            <div class="form-body">
                                <div class="alert alert-danger display-hide">
                                    <button class="close" data-close="alert"></button>
                                    输入有误请检查.
                                </div>
                                <div class="alert alert-success display-hide">
                                    <button class="close" data-close="alert"></button>
                                    输入验证成功!
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">编号</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" name="id" value="{{ id }}" readonly="readonly" />
                                    </div>
                                </div>

                                {% for item in data%}
                                <div class="form-group">
                                    <label class="col-md-3 control-label">{{item.name }}</label>
                                    <div class="col-md-6">
                                        <input type="number" class="form-control" name="planningCount{{ item.id }}" value="{{ item.quantity}}" />
                                    </div>
                                </div>
                                {% endfor %}

                            </div>

                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green">保存</button>
                                        <a href="/planning/details/{{ id }}" class="btn btn-default" role="button"><i class="fa fa-th"></i>&nbsp;取消</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE CONTENT-->
    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    $(function() {
        telamon.leftNavActive($('#planning-index'));
    });
</script>
{% endblock %}