<!DOCTYPE html>

<% include headmeta %>
<!-- BEGIN BODY -->
<body class="page-header-fixed  page-full-width">

    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top">
        <!-- BEGIN TOP NAVIGATION BAR -->
        <div class="header-inner">
            <!-- BEGIN LOGO -->
            <a class="navbar-brand" href="/">
                <img src="assets/img/logo.png" alt="logo" class="img-responsive" />
            </a>
            <!-- END LOGO -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <ul class="nav navbar-nav pull-right">
                <!-- BEGIN USER LOGIN DROPDOWN -->
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img alt="" src="assets/img/avatar1_small.jpg"/>
                        <span class="username">Bob Nilson</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> Full Screen</a></li>
                        <li><a href="#"><i class="fa fa-lock"></i> Lock Screen</a></li>
                        <li><a href="#"><i class="fa fa-key"></i> Log Out</a></li>
                    </ul>
                </li>
                <!-- END USER LOGIN DROPDOWN -->
            </ul>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END TOP NAVIGATION BAR -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <!-- BEGIN PAGE -->
        <div class="page-content">

            <!-- BEGIN PAGE HEADER-->
            <div class="row">
                <div class="col-md-8 col-lg-8">
                    <h3 class="page-title">
                        实时成本核算 <small>每日用能&amp;产出</small>
                    </h3>
                </div>
                <div class="col-md-4 col-lg-4">
                    <h3 class="page-title pull-right">2014年7月15日 14:20:18</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="page-breadcrumb breadcrumb" style="margin-bottom: 10px;">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="#">今日能源资源消耗</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- END PAGE HEADER-->

            <!-- BEGIN DASHBOARD STATS -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat blue">
                        <div class="visual">
                            <i class="fa fa-tint"></i>
                        </div>
                        <div class="title">
                            本日用水
                        </div>
                        <div class="details">
                            <div class="number">
                                1349
                            </div>
                            <div class="desc">
                                吨
                            </div>
                        </div>
                        <a class="more" href="#"></a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat green">
                        <div class="visual">
                            <i class="fa fa-bolt"></i>
                        </div>
                        <div class="title">
                            本日用电
                        </div>
                        <div class="details">
                            <div class="number">549</div>
                            <div class="desc">度</div>
                        </div>
                        <a class="more" href="#">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat purple">
                        <div class="visual">
                            <i class="fa fa-fire"></i>
                        </div>
                        <div class="title">
                            本日用气
                        </div>
                        <div class="details">
                            <div class="number">89</div>
                            <div class="desc">立方</div>
                        </div>
                        <a class="more" href="#">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="dashboard-stat yellow">
                        <div class="visual">
                            <i class="fa fa-folder-o"></i>
                        </div>
                        <div class="title">
                            本日用米
                        </div>
                        <div class="details">
                            <div class="number">12</div>
                            <div class="desc">袋</div>
                        </div>
                        <a class="more" href="#"></a>
                    </div>
                </div>
            </div>
            <!-- END DASHBOARD STATS -->

            <div class="row">
                <div class="col-md-3 col-lg-3">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-cogs"></i>今日计划</div>
                        </div>
                        <div class="portlet-body">
                            <div class="pricing pricing-active">
                                <div class="pricing-head">
                                    <h3>食堂预订</h3>
                                    <h4><b>300</b> / 920<span>完成 / 计划</span></h4>
                                </div>
                                <table class="pricing-content table table-bordered table-striped">
                                    <tr>
                                        <td>一食堂 300 箱</td>
                                        <td>二食堂 220 箱</td>
                                    </tr>
                                    <tr>
                                        <td>三食堂 160 箱</td>
                                        <td>四食堂 240 箱</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-lg-3">
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-cny"></i>实时成本</div>
                        </div>
                        <div class="portlet-body">
                            <div class="pricing">
                                <div class="pricing-head">
                                    <h3 style="background-color: #27a9e3">成本核算</h3>
                                    <h4><i>&yen;</i>8.79 <span>元/箱</span></h4>
                                </div>
                                <ul class="pricing-content list-unstyled">
                                    <li><i class="fa fa-tags"></i> 水：1.05 元/吨, 电：0.5元/度</li>
                                    <li><i class="fa fa-asterisk"></i> 气：2.4元/方，米：41元/袋</li>
                                    <li><i class="fa fa-heart"></i> 饭：200元/箱</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-6">
                    <!-- BEGIN PORTLET-->
                    <div class="portlet">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-bar-chart-o"></i>历史记录</div>
                        </div>
                        <div class="portlet-body">
                            <div id="site_statistics_content">
                                <div id="rice_statistics" style="height: 320px;"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END PORTLET-->
                </div>
            </div>


            <div class="row ">
                <div class="col-md-6 col-sm-6">
                    <div class="portlet box purple">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-chain"></i>上周同比</div>
                        </div>
                        <div class="portlet-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number transactions" data-percent="55"><span>55</span>%</div>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm"></div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number visits" data-percent="85"><span>85</span>%</div>
                                    </div>
                                </div>
                                <div class="margin-bottom-10 visible-sm"></div>
                                <div class="col-md-4">
                                    <div class="easy-pie-chart">
                                        <div class="number bounce" data-percent="46"><span>46</span>%</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="portlet box blue">
                        <div class="portlet-title">
                            <div class="caption"><i class="fa fa-calendar"></i>一周用能</div>
                        </div>
                        <div class="portlet-body">
                            <div id="history-energy" style="height:130px;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END PAGE -->
    </div>
    <!-- END CONTAINER -->
    <% include footer %>

<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/assets/plugins/respond.min.js"></script>
<script src="/assets/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/assets/plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
<script src="/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
<script src="/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->

<script src="/assets/plugins/flot/jquery.flot.js" type="text/javascript"></script>
<script src="/assets/plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="/assets/plugins/Highcharts/highcharts.js"></script>
<script src="/assets/plugins/jquery.pulsate.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
<script src="/assets/plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>
<script src="/assets/plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>

<script src="/assets/plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
<script src="/assets/plugins/jquery.sparkline.min.js" type="text/javascript"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="/assets/scripts/app.js" type="text/javascript"></script>
<script src="/assets/scripts/index.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function() {
        App.init(); // initlayout and core plugins
        Index.init();

        Index.initHighchart();
        Index.initColumn();
       // Index.initCharts(); // init index page's custom scripts
        Index.initMiniCharts();

    });
</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>
