<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
        <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
            <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start ">
                <a href="/dashboard" id="dashboard-index">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">今日总览</span>
                </a>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-tasks"></i>
                    <span class="title">计划管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/planning/create" id="planning-create">
                            计划录入</a>
                    </li>
                    <li>
                        <a href="/planning/" id="planning-index">
                            计划查询</a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="title">统计汇总</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/statistic/planning" id="statistic-planning">
                            计划统计</a>
                    </li>
                </ul>
            </li>
            <li class="left-nav-first">
                <a href="javascript:;">
                    <i class="fa fa-gear"></i>
                    <span class="title">系统设置</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="/dining" id="dining-index">
                            食堂管理</a>
                    </li>
                </ul>
            </li>
            <li class="last ">
                <a href="#">
                    <i class="fa fa-dot-circle-o"></i>
                    <span class="title">关闭</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->