<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
        <ul class="page-sidebar-menu " data-auto-scroll="true" data-slide-speed="200">
        <!-- DOC: To remove the sidebar toggler from the sidebar you just need to completely remove the below "sidebar-toggler-wrapper" LI element -->
            <li class="sidebar-toggler-wrapper">
                <!-- BEGIN SIDEBAR TOGGLER BUTTON -->
                <div class="sidebar-toggler">
                </div>
                <!-- END SIDEBAR TOGGLER BUTTON -->
            </li>
            <li class="start ">
                <a href="/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span class="title">今日总览</span>
                </a>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-home"></i>
                    <span class="title">计划管理</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="index.html">
                            <i class="icon-bar-chart"></i>
                            Default Dashboard</a>
                    </li>
                    <li>
                        <a href="index_2.html">
                            <i class="icon-bulb"></i>
                            New Dashboard #1</a>
                    </li>
                    <li>
                        <a href="index_3.html">
                            <i class="icon-graph"></i>
                            New Dashboard #2</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-diamond"></i>
                    <span class="title">UI Features</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="ui_general.html">
                            General Components</a>
                    </li>
                    <li>
                        <a href="ui_buttons.html">
                            Buttons</a>
                    </li>
                    <li>
                        <a href="ui_icons.html">
                            <span class="badge badge-roundless badge-danger">new</span>Font Icons</a>
                    </li>
                    <li>
                        <a href="ui_colors.html">
                            Flat UI Colors</a>
                    </li>
                    <li>
                        <a href="ui_typography.html">
                            Typography</a>
                    </li>
                    <li>
                        <a href="ui_tabs_accordions_navs.html">
                            Tabs, Accordions & Navs</a>
                    </li>
                    <li>
                        <a href="ui_tree.html">
                            <span class="badge badge-roundless badge-danger">new</span>Tree View</a>
                    </li>
                    <li>
                        <a href="ui_toastr.html">
                            Toastr Notifications</a>
                    </li>
                    <li>
                        <a href="ui_alert_dialog_api.html">
                            <span class="badge badge-roundless badge-danger">new</span>Alerts & Dialogs API</a>
                    </li>
                    <li>
                        <a href="ui_session_timeout.html">
                            Session Timeout</a>
                    </li>
                    <li>
                        <a href="ui_idle_timeout.html">
                            User Idle Timeout</a>
                    </li>
                    <li>
                        <a href="ui_datepaginator.html">
                            <span class="badge badge-roundless badge-success">new</span>Date Paginator</a>
                    </li>
                    <li>
                        <a href="ui_nestable.html">
                            Nestable List</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-puzzle"></i>
                    <span class="title">UI Components</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="components_pickers.html">
                            Pickers</a>
                    </li>
                    <li>
                        <a href="components_dropdowns.html">
                            Custom Dropdowns</a>
                    </li>
                    <li>
                        <a href="components_form_tools.html">
                            Form Tools</a>
                    </li>
                    <li>
                        <a href="components_editors.html">
                            Markdown & WYSIWYG Editors</a>
                    </li>
                    <li>
                        <a href="components_ion_sliders.html">
                            Ion Range Sliders</a>
                    </li>
                    <li>
                        <a href="components_knob_dials.html">
                            Knob Circle Dials</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-settings"></i>
                    <span class="title">Form Stuff</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="form_controls.html">
                            Form Controls</a>
                    </li>
                    <li>
                        <a href="form_layouts.html">
                            Form Layouts</a>
                    </li>
                    <li>
                        <a href="form_editable.html">
                            <span class="badge badge-roundless badge-warning">new</span>Form X-editable</a>
                    </li>
                    <li>
                        <a href="form_wizard.html">
                            Form Wizard</a>
                    </li>
                    <li>
                        <a href="form_validation.html">
                            Form Validation</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-docs"></i>
                    <span class="title">Pages</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="page_portfolio.html">
                            <i class="icon-feed"></i>
                            <span class="badge badge-warning badge-roundless">new</span>Portfolio</a>
                    </li>
                    <li>
                        <a href="page_timeline.html">
                            <i class="icon-clock"></i>
                            <span class="badge badge-info">4</span>Timeline</a>
                    </li>
                    <li>
                        <a href="page_coming_soon.html">
                            <i class="icon-flag"></i>
                            Coming Soon</a>
                    </li>
                    <li>
                        <a href="page_blog.html">
                            <i class="icon-speech"></i>
                            Blog</a>
                    </li>
                    <li>
                        <a href="page_blog_item.html">
                            <i class="icon-link"></i>
                            Blog Post</a>
                    </li>
                    <li>
                        <a href="page_news.html">
                            <i class="icon-eye"></i>
                            <span class="badge badge-success">9</span>News</a>
                    </li>
                    <li>
                        <a href="page_news_item.html">
                            <i class="icon-bell"></i>
                            News View</a>
                    </li>
                    <li>
                        <a href="page_about.html">
                            <i class="icon-users"></i>
                            About Us</a>
                    </li>
                    <li>
                        <a href="page_contact.html">
                            <i class="icon-envelope-open"></i>
                            Contact Us</a>
                    </li>
                    <li>
                        <a href="page_calendar.html">
                            <i class="icon-calendar"></i>
                            <span class="badge badge-danger">14</span>Calendar</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <i class="icon-wallet"></i>
                    <span class="title">Portlets</span>
                    <span class="arrow "></span>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a href="portlet_general.html">
                            General Portlets</a>
                    </li>
                    <li>
                        <a href="portlet_general2.html">
                            <span class="badge badge-roundless badge-danger">new</span>New Portlets #1</a>
                    </li>
                    <li>
                        <a href="portlet_general3.html">
                            <span class="badge badge-roundless badge-danger">new</span>New Portlets #2</a>
                    </li>
                    <li>
                        <a href="portlet_ajax.html">
                            Ajax Portlets</a>
                    </li>
                    <li>
                        <a href="portlet_draggable.html">
                            Draggable Portlets</a>
                    </li>
                </ul>
            </li>
            <li class="last ">
                <a href="charts.html">
                    <i class="icon-bar-chart"></i>
                    <span class="title">Visual Charts</span>
                </a>
            </li>
        </ul>
        <!-- END SIDEBAR MENU -->
    </div>
</div>
<!-- END SIDEBAR -->